<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static", filename = "./css/style.css") }}'>
    {% block title %}
    {% endblock %}
</head>
<body>
    <div id="container">
        <div id="banner">
            <h1>Wear the Mask!</h1>
            <h3>A convolutional neural network application</h3>
            <h4>Accuracy: 92.22% Precision: 92.02% Sensitivity: 92.45%</h4>
        </div>
        <div id="camera">
            <div>
                {% block camera %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<footer>
    {% block portfolio %}
    {% endblock %}
    <h3>Data set by Wang, Z. et al., 2020</h3>
    <h3>Face detection by OpenCV, 2000</h3>
    <h3>CNN model and webpage by Rolando Jesús Duarte Mejías, 2021</h3>
</footer>
</html>